__pycache__
.env
*.log
*.ipynb_checkpoints
Data/*
**/Data/

GaitProcessing/trial_info.xlsx

*DS_Store

UtilsDynamicSimulations/OpenSimAD/build-ExpressionGraphF/*
UtilsDynamicSimulations/OpenSimAD/build-ExternalFunctionF/*
UtilsDynamicSimulations/OpenSimAD/install-ExternalFunctionF/*
UtilsDynamicSimulations/OpenSimAD/opensimAD-install/*
